@import "tailwindcss";

@theme {
  --color-rojo-principal: #f23540;
  --color-amarillo: #feda40;
  --color-crema: #fef0dc;
  --color-azul: #1d86f9;
  --color-aqua: #15bebe;
  --color-whatsapp: #25d366;
  --color-ink: #1a1a1a;
}

@theme inline {
  --font-raices: var(--font-raices);
  --font-blur: var(--font-blur);
  --font-helvetica-now: var(--font-helvetica-now);
  --font-montserrat: var(--font-montserrat);
  --font-myriad: var(--font-myriad);
}

body {
  background: var(--color-crema);
  color: var(--color-ink);
  font-family: var(--font-montserrat);
}

html,
body {
  overflow-x: clip;
}
